body{
    
  background-color: #1a1a2e;
  color: #1a1a2e;

}

.chessboard{

    width: 800px;
    height:800px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
}
.tile{

    width: 100px;
    height: 100px;
    display: flex;
    position: relative;

}
.coordinates{
    position: absolute;
}
.white-color{
    background-color: #e8f4f8;    
}
.blue-color{
    background-color: #4a90a4 ;    
}

.imagePiece{
    width: 70px;
    height: 70px;
    display: flex;
    align-self: center;
    margin: auto;
    
}